.info {
    position: fixed;
    height: 250px;
    width: 100%;
    bottom: 0;
    z-index: 10;
    background: white;
    font-family: 'Roboto', sans-serif;
}

.alchemy{
    z-index: 0;
}

.center {
    text-align: center;
    width: 100%;
}